.pixel {
    width: 1em;
    height: 1em;
    float: left;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.apple-emoji {
    .pixel;
    background: url(/images/emoji_apple_64_indexed_256colors.png);
    background-size:3000%
}

.white_square {
    .apple-emoji;
    background-position:10.344827586206897% 68.9655172413793%;
}

.thumbsup {
    .apple-emoji;
    background-position: 44.82758620689655% 75.86206896551724%;
}
